<h1 class="text-center">Modificar Arriendo Película</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Volver", @movie %> |
  <%= link_to "Regresar a Películas", movies_path %>
</div>
