<h1 class="text-center">SISTEMA GESTIÓN DE ARRIENDO</h1>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-4 mb-4">
    <div class="col">
      <div class="card h-100">
        <%= image_tag 'img2.PNG', class:'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title">Gestión de Clientes</h5>
          <p class="card-text"> Visualización, Creación, Modificación y Eliminación de Clientes del sistema</p>
          <%= link_to "Ingresar", clients_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <%= image_tag 'img1.PNG', class:'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title">Gestión de Películas</h5>
          <p class="card-text">Visualización, Creación, Modificación y Eliminación de Películas y Arriendos</p>
          <%= link_to "Ingresar", movies_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    
  </div>

